<ng-container *ngIf="booking">
  <div class="container text-primary">
    <h1>Gestisci prenotazione</h1>
    <form #form = "ngForm">
      <label for="start">Data inizio: </label>
      <input id="start" type="date" name="start" [(ngModel)]="booking.dateBookingStart" [min]="today.add(2, 'day')" [max]="booking.dateBookingEnd" required> <br/><br/>
      <label for="end">Data fine: </label>
      <input id="end" type="date" name="end" [(ngModel)]="booking.dateBookingEnd" [min]="booking.dateBookingStart" required> <br/><br/>
      <button class="btn btn-primary" type="submit" [disabled]="!form.valid" (click)="searchCars()">Cerca disponibilità</button>
    </form>

    <ng-container *ngIf="cars">
      <app-my-table [tableConfig]="tableConfig" [headers]="headers" [data]="cars" (emitRow)="saveBooking($event)"></app-my-table>
    </ng-container>
  </div>
</ng-container>
