<form #form="ngForm">
  <label for="oldPassword">Vecchia password</label>
  <input id="oldPassword" name="old" type="password" [(ngModel)]="passwordRequest.oldPassword" required>

  <label for="newPassword">Nuova password</label>
  <input id="newPassword" name="new" type="password" [(ngModel)]="passwordRequest.newPassword" required>

  <label for="repeatNewPassword">Ripeti nuova password</label>
  <input id="repeatNewPassword" name="newR" type="password" [(ngModel)]="passwordRequest.newPasswordR" required>

  <button class="btn btn-primary" type="submit"
          (click)="savePassword()"
          [disabled]="!(form.valid && passwordRequest.newPasswordR == passwordRequest.newPassword)">
    Cambia Password
  </button>
</form>
<div class="alert alert-danger banner" *ngIf="error != ''">
  <p>{{error}}</p>
</div>
<div class="alert alert-danger banner" *ngIf="errors.length > 0">
  <ng-container *ngFor="let e of errors">
    <p>{{e.label}}</p>
  </ng-container>
</div>
<div class="alert alert-success banner" *ngIf="success">
    <p>Cambio password avvenuto con successo</p>
</div>
