<div class="search flex items-center justify-center space-x-2">
  <app-my-button [isDisabled]="start <= 0" (emitter)="back()" [config]="button_back"></app-my-button>

  <span *ngIf="paginaCorrente > 3">...</span>

  <ng-container *ngFor="let i of arrayPagine">
    <ng-container *ngIf="i >= (paginaCorrente - 2) && i <= (paginaCorrente + 2)">
      <app-my-button [config]="{ icon: i != paginaCorrente ? 'bi bi-circle' : 'bi bi-circle-fill', text: i.toString(), class: 'btn btn-secondary' }" (emitter)="changePagination(i)"></app-my-button>
    </ng-container>
  </ng-container>

  <span *ngIf="paginaCorrente < (totalItems / table.pagination.itemPerPage) - 2">...</span>

  <app-my-button [isDisabled]="start >= (totalItems - table.pagination.itemPerPage)" (emitter)="next()" [config]="button_next"></app-my-button>

  <br/><br/>
  <div class="search flex items-center">
    <label for="seleziona-pagina" class="mr-2 w-full"> item per pagina: </label>
    <select id="seleziona-pagina" [(ngModel)]="table.pagination.itemPerPage">
      <option *ngFor="let numero of table.pagination.itemPerPageOption">{{numero}}</option>
    </select>
  </div>
</div>
