<div class="container text-secondary">
  <form #form="ngForm">
    <ng-container *ngFor="let field of fields">
      <div class="mb-4" *ngIf="field.type != 'file'">
        <label for="{{field.key}}" class="block text-gray-700 font-bold mb-2">{{field.label}}</label>
        <input class="input border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
               id="{{field.key}}"
               [type]="field.type ? field.type : 'text'"
               name="{{field.key}}"
               [class.border-red-500]="getErrorBorderColor(field.key)"
               [(ngModel)]="item[field.key]"
               [required]="field.required ? field.required : false" />
      </div>
      <div class="mb-4" *ngIf="field.type == 'file'">
        <label for="{{field.key}}" class="block text-gray-700 font-bold mb-2">{{field.label}}</label>
        <input id="{{field.key}}" type="file" (change)="changeFile($event, field.key)"
               [required]="field.required ? field.required : false"
               class="block text-gray-700 font-bold mb-2">
      </div>
    </ng-container>
    <app-my-button [config]="{icon: 'pencil-square', class: 'btn btn-primary', text: 'Salva'}"
                   [isDisabled]="!form.valid"
                   class="mt-4"
                   (emitter)="emit.emit(item)"></app-my-button>
  </form>
  <div class="alert alert-danger banner mt-4" *ngIf="errors.length > 0">
    <ng-container *ngFor="let error of errors">
      <p class="text-red-600">{{error.label}}</p>
    </ng-container>
  </div>
</div>
