<div class="container text-secondary">
  <h1>Accedi per entrare</h1>
  <form #form="ngForm" method="post">
    <label for="username">Username: </label>
    <input id="username" type="text" name="username" [(ngModel)]="auth.username" required /><br/><br/>
    <label for="password">Password: </label>
    <input id="password" type="password" name="password" [(ngModel)]="auth.password" required /><br/><br/>
    <app-my-button [isDisabled]="!form.valid"
                   (emitter)="login()"
                   [config]="{icon: 'box-arrow-in-right', class: 'btn btn-primary', text: 'Login'}"></app-my-button>
  </form>
</div>
