<ng-container *ngIf="token">
  <nav style="margin: 20px;">
    <a routerLink="home"> <app-my-button [config]="{icon: 'airplane', class: 'primary', text: 'Home'}"></app-my-button></a>
    <ng-container *ngIf="user">
      <ng-container *ngIf="user.admin">
        <a routerLink="cars"><app-my-button [config]="{icon: 'book', class: 'secondary', text: 'Parco Auto'}"></app-my-button></a>
      </ng-container>
    </ng-container>
    <a routerLink="profile"><app-my-button [config]="{icon: 'book', class: 'primary', text: 'Profilo'}"></app-my-button></a>
    <app-my-button (emitter)="logout()"
      [config]="{icon: 'box-arrow-right', class: 'secondary', text: 'Logout'}"></app-my-button>
  </nav>
<router-outlet></router-outlet>
</ng-container>


<ng-container *ngIf="!token">
  <app-login [logout]="logoutFlag" [noAuth]="noAuthFlag"></app-login>
</ng-container>
