<ng-container *ngIf="userLogger">
  <ng-container *ngIf="userLogger.admin && users">
    <div class="container text-primary">
      <h1>Utenti:</h1>
      <app-my-table [data]="users" [headers]="headers" (emitRow)="goUserBooking($event)"></app-my-table>
    </div>
  </ng-container>
  <ng-container *ngIf="!userLogger.admin && bookings">
    <div class="container text-secondary">
      <h1>Lista prenotazioni:</h1>
      <app-my-table [data]="bookings" [headers]="headers"></app-my-table>
    </div>
  </ng-container>
</ng-container>
